.navbar,ul,a{
padding-left:3em;
text-decoration:none;
color: black;
list-style: none;
 display: inline-flex; 
 
 
}
.mainfooter{
    display:flex;
    justify-content: space-around;
    padding-left: 10px;
    background-color: black;
    color: white;
}
.firstfooter{

    padding-left: 10px;
}
.secondfooter{
padding-left: 10px;
}

.thirdfooter{
padding-left: 10px;
}
.fourthfooter{
padding-left: 10px;
}